.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.aboutLeft{
    flex-basis: 40%;
    position: relative;
}

.aboutRight{
    flex-basis: 56%;
}
.aboutImage{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.playImage{
    width: 60px;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: var(--secondary-color);
}
.about h2{
    font-size: 35px;
    color: var(--primary-color);
    margin: 10px 0px;
    max-width: 400px;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
    text-align: justify;
}

/*media query*/
@media (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .aboutLeft{
        flex-basis: 100%;
        margin:20px;
        order: 2;
    }
    .aboutRight{
        flex-basis: 100%;
        margin: auto 20px;
    }
}