.contact{
    margin: 80 px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap:80px
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
    flex: 1;
}

.contact-col h3{
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact-map{
    flex: 1;
    margin : 10px auto;
    width: 100%;
}

/*media query*/

@media (max-width: 800px){
    .contact-col{
        display:block;
    }
    .contact {
        flex-direction: column;
        margin: 0px auto;
    }
    .contact-map{
        width: 100%;
        margin : 0px;
        margin-right: 0px;
    }
    .contact-map iframe{
        width: 100%;
    }
    
}